/* Hide Radio button */
.rate > input{
    display: none;
  }
  
  .rate{
    display: inline-block;;
    border: 0;
  }
  
  .rate > label{
    float: right;
  }
  
  /* Showing the stars */
  .rate > label:before{
    display: inline-block;
    font-size: 1.1rem;
    font-family: FontAwesome;
    content: "\f005";
    margin:0;
    padding:0.3rem .2rem;
    cursor: pointer;
  }
  
  /* Half star */
  .rate .half:before{
    content: "\f089";
    position: absolute;
    padding-right: 0;
  }
  
  /* Click and hover */
  input:checked ~ label, label:hover ~ label{
    color: #ffb503;
  }
  
  /* hover hightlight */
  input:checked + label:hover, input:checked ~ label:hover,input:checked ~ label:hover ~ label,
  label:hover ~ input:checked ~ label{
    color: #cc9000;
  }
  
  .rating-star i{
    color: #ffb503 !important;
  }
  
  ul.thumb{
    margin:0 auto;
    padding: 0;
    float: left;
  }
  ul.thumb li{
    list-style: none;
    margin: 10px;
  }
  ul.thumb li img{
    width: 80px;
    height: 80px;
    border: 1px solid grey;
  }

/* General styles for links within the widget-header */
.widget-header div {
  padding: 5px 0 !important;
}

.auth-link {
  color: #666 !important; /* Subtle grey */
  text-decoration: none !important;
  margin-right: 15px !important;
  font-weight: 500 !important;
}

/* Hover effect for links */
.auth-link:hover {
  color: #2c2c2c !important; /* Darker grey on hover */
}

.store-button:hover{
  color: #2c2c2c !important; /* Darker grey on hover */
}

/* main.css */

/* Change color for all links */
a {
  color: #666; /* Replace #newColorCode with your desired hex color */
}

/* Change color for all buttons */
button, .btn { /* Targeting button elements and any class="btn" */
  background-color: #fffefe; /* Button background color */
  color: #252424; /* Text color inside button */
  border-color: #2c2c2c;
}

.btn:hover, button:hover {
  background-color: #2c2c2c; /* Background color on hover */
  border-color: transparent;
}

/* Change color for h3 and h4 headings */
h3, h4 {
  color: #666;
}

.checkbox-btn .btn-light:hover {
  color: #fff; /* White text on hover */
}


/* Base styles for pagination links */
.pagination .page-link {
  color: #666; /* Light grey for normal state */
  background-color: transparent; /* Ensures no background color */
  border: 1px solid #ddd; /* Subtle border for all states */
  transition: color 0.3s ease; /* Smooth transition for color change */
}

/* Hover effect for pagination links */
.pagination .page-link:hover {
  color: #333; /* Dark grey or black on hover */
  background-color: #b9b9b9;
}

/* Style for active pagination link */
.pagination .page-item.active .page-link {
  color: black; /* Dark grey or black for active state */
  background-color: #b9b9b9; /* Remove default blue background */
  border-color: #b9b9b9; /* Optional: darken border for active item */
}

.pagination{
  font-weight: 500;
}



/* Base styles for the card and its content */
.card {
  border: 1px solid #ccc; /* Subtle border for the entire card */
  color: #666; /* Default text color for non-button content */
}

/* Styles for all links within the card */
.card a {
  color: #666; /* Light grey text for links */
  text-decoration: none; /* No underline */
  transition: color 0.3s; /* Smooth transition for color change */
  font-weight: 500;
}

/* Hover effect for links */
.card a:hover {
  color: #000000; /* Dark grey or black on hover */
}

/* Styles for buttons within the card */
.card .btn {
  background-color: #fff; /* White background for buttons */
  color: #000; /* Black text for buttons */
  border: 1px solid #000; /* Black border */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for background and color */
}

/* Hover effect for buttons */
.card .btn:hover {
  background-color: #000; /* Black background on hover */
  color: #fff; /* White text on hover */
  border: 1px solid #000; /* Maintain black border */
}


.checkbox-btn input[type="checkbox"] {
  display: none;  /* Hide the checkbox */
}

.checkbox-btn span.btn.btn-light {
  background-color: white; /* Default background */
  color: black; /* Default text color */
  border: 1px solid #ccc; /* Border to distinguish the button */
  padding: 5px 10px; /* Some padding for visual appeal */
  display: inline-block; /* Necessary to line them up inline */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for color change */
}

.checkbox-btn input[type="checkbox"]:checked + span.btn.btn-light {
  background-color: black !important; /* Background color when checked */
  color: white !important; /* Text color when checked */
  border-color: black;
}


/* Styling for when the button is active or selected */
figcaption .btn-primary:active,
figcaption .btn-primary.selected { /* .selected class can be toggled by JavaScript */
  background-color: black;
  border-color: black;
  color: white;
}

/* General styling for primary buttons */
.btn-primary {
  transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* Smooth transition for visual changes */
}

/* Styling for primary buttons when active (during click) */
.btn-primary:active {
  background-color: black !important; /* Black background */
  border-color: black !important; /* Black border */
  color: white !important; /* White text */
}

/* Additional handling to remove any shadow or outline when clicked */
.btn-primary:active,
.btn-primary.selected, /* .selected class can be toggled by JavaScript */
.btn-primary:focus:active {
  box-shadow: none !important; /* Ensures no shadow when button is actively clicked */
}


div.dropdown-menu a.dropdown-item:focus {
  background-color: black; /* Black background on hover/focus */
  color: white !important; /* White text on hover/focus with !important to ensure override */
}

/* Active state style, using !important to ensure it takes precedence */
div.dropdown-menu a.dropdown-item.active {
  background-color: black !important; /* Black background for active items */
  color: white !important; /* White text for active items */
  outline: none; /* Remove outline if focused and active */
}


/* Default style for sidebar links */
.aside-links {
  color: grey; /* Default color */
  transition: color 0.2s; /* Smooth transition for color change */
}

/* Hover and active styles for sidebar links */
.aside-links:hover, .aside-links:active, .aside-links.active {
  color: black; /* Color changes to black on hover or when active */
}

/* Default styling for sidebar links */
.list-group-item {
  color: #333; /* Default text color */
  background-color: #f8f9fa; /* Light background, can be adjusted */
  padding: 8px 20px; /* Uniform padding */
  display: block; /* Ensure the links take up the full width of the container */
  text-decoration: none; /* Remove underline from links */
  transition: background-color 0.2s, color 0.2s; /* Smooth transition for color and background */
}

/* Styling for active state */
.list-group-item.active, .list-group-item:hover {
  background-color: black; /* Black background when active or hovered */
  color: white; /* White text when active or hovered */
  border-color: black;
}

.list-group-item:hover {
  background-color: #666; /* Black background when active or hovered */
  border: #666;
}

/* Override for specific button click (active) state */
.btn-light:active {
  background-color: black !important;  /* Ensures the background is black when clicked */
  color: white !important;  /* Ensures text color is white when clicked */
  border-color: black !important;  /* Ensures border color is black if needed */
}


/* Targeting the primary button specifically when it's focused or active */
.btn-block:focus, .btn-block:active {
  outline: none !important;  /* Removes the outline */
  box-shadow: none !important;  /* Removes the box shadow */
}

.btn-light.btn-block:hover{
  color: white !important;
}
