/* Hide Radio button */
.rate > input{
    display: none;
  }
  
  .rate{
    display: inline-block;;
    border: 0;
  }
  
  .rate > label{
    float: right;
  }
  
  /* Showing the stars */
  .rate > label:before{
    display: inline-block;
    font-size: 1.1rem;
    font-family: FontAwesome;
    content: "\f005";
    margin:0;
    padding:0.3rem .2rem;
    cursor: pointer;
  }
  
  /* Half star */
  .rate .half:before{
    content: "\f089";
    position: absolute;
    padding-right: 0;
  }
  
  /* Click and hover */
  input:checked ~ label, label:hover ~ label{
    color: #ffb503;
  }
  
  /* hover hightlight */
  input:checked + label:hover, input:checked ~ label:hover,input:checked ~ label:hover ~ label,
  label:hover ~ input:checked ~ label{
    color: #cc9000;
  }
  
  .rating-star i{
    color: #ffb503 !important;
  }
  
  ul.thumb{
    margin:0 auto;
    padding: 0;
    float: left;
  }
  ul.thumb li{
    list-style: none;
    margin: 10px;
  }
  ul.thumb li img{
    width: 80px;
    height: 80px;
    border: 1px solid grey;
  }

/* General styles for links within the widget-header */
.widget-header div {
  padding: 5px 0 !important;
}

.auth-link {
  color: #666 !important; /* Subtle grey */
  text-decoration: none !important;
  margin-right: 15px !important;
  font-weight: 500 !important;
}

/* Hover effect for links */
.auth-link:hover {
  color: #2c2c2c !important; /* Darker grey on hover */
}

.store-button:hover{
  color: #2c2c2c !important; /* Darker grey on hover */
}

/* main.css */

/* Change color for all links */
a {
  color: #666; /* Replace #newColorCode with your desired hex color */
}

/* Change color for all buttons */
button, .btn { /* Targeting button elements and any class="btn" */
  background-color: #fffefe; /* Button background color */
  color: #252424; /* Text color inside button */
  border-color: #2c2c2c;
}

.btn:hover, button:hover {
  background-color: #2c2c2c; /* Background color on hover */
  border-color: transparent;
}

/* Change color for h3 and h4 headings */
h3, h4 {
  color: #666;
}

.checkbox-btn .btn-light:hover {
  color: #fff; /* White text on hover */
}


/* Base styles for pagination links */
.pagination .page-link {
  color: #666; /* Light grey for normal state */
  background-color: transparent; /* Ensures no background color */
  border: 1px solid #ddd; /* Subtle border for all states */
  transition: color 0.3s ease; /* Smooth transition for color change */
}

/* Hover effect for pagination links */
.pagination .page-link:hover {
  color: #333; /* Dark grey or black on hover */
  background-color: #b9b9b9;
}

/* Style for active pagination link */
.pagination .page-item.active .page-link {
  color: black; /* Dark grey or black for active state */
  background-color: #b9b9b9; /* Remove default blue background */
  border-color: #b9b9b9; /* Optional: darken border for active item */
}

.pagination{
  font-weight: 500;
}



/* Base styles for the card and its content */
.card {
  border: 1px solid #ccc; /* Subtle border for the entire card */
  color: #666; /* Default text color for non-button content */
}

/* Styles for all links within the card */
.card a {
  color: #666; /* Light grey text for links */
  text-decoration: none; /* No underline */
  transition: color 0.3s; /* Smooth transition for color change */
  font-weight: 500;
}

/* Hover effect for links */
.card a:hover {
  color: #000000; /* Dark grey or black on hover */
}

/* Styles for buttons within the card */
.card .btn {
  background-color: #fff; /* White background for buttons */
  color: #000; /* Black text for buttons */
  border: 1px solid #000; /* Black border */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for background and color */
}

/* Hover effect for buttons */
.card .btn:hover {
  background-color: #000; /* Black background on hover */
  color: #fff; /* White text on hover */
  border: 1px solid #000; /* Maintain black border */
}

