asgiref
certifi
cffi
charset-normalizer
cryptography
Django==3.2
django-admin-honeypot
django-admin-thumbnails
django-anymail
django-session-timeout
idna
pillow
pycparser
python-decouple
requests
six
sqlparse
tzdata
urllib3
