packages:
  yum:
    mariadb105-devel: []
container_commands:
  01_migrate:
    command: "source /var/app/venv/*/bin/activate && cd /var/app/staging && python3 manage.py migrate"
    leader_only: true
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: greatkart.settings