container_commands:
  01_activate:
    command: "source /var/app/venv/*/bin/activate"
    leader_only: true
  02_navigate_to_staging:
    command: "cd /var/app/staging"  # Example second command
    leader_only: true
  03_migrate:
    command: "python3 manage.py migrate"
    leader_only: true
  02_createsuperuser:
    command: "source /var/app/venv/*/bin/activate && echo from accounts.models import Account; Account.objects.create_superuser('first_name', 'last_name', 'your-email@gmail.com', 'yourusername', 'password') | python manage.py shell"
    leader_only: true
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: greatkart.settings