option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: DjangoEcommerce/greatkart/wsgi.py
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static

container_commands:
  01_change_gunicorn:
    command: "echo \"web: gunicorn --log-level debug DjangoEcommerce.greatkart.wsgi:application\" > /opt/python/etc/gunicorn.conf"

